@import "tailwindcss";

@theme {
  --primary-color: #0a3d62;
  --secondary-color: #f2f2f2;
  --accent-color: #464444;
}

*{
    font-family: "Playfair Display", serif;
}

main {
  overflow-x: hidden;
}

.responsive-h1 {
  font-size: clamp(30px, 0.625vw + 28px, 40px);
}

.responsive-text {
  font-size: clamp(14px, 0.25vw + 13.2px, 18px);
}

.responsive-h3 {
  font-size: clamp(14px, 0.375vw + 12.8px, 20px);
}

.responsive-h2 {
  font-size: clamp(24px, 0.375vw + 22.8px, 30px);
}

.tracking-in-expand-forward-top {
  animation: tracking-in-expand-forward-top 1s linear both;
}

@keyframes tracking-in-expand-forward-top {
  0% {
    transform: translateZ(-700px) translateY(-100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.tracking-in-expand-forward-bottom {
  animation: tracking-in-expand-forward-bottom 1s linear both;
}

@keyframes tracking-in-expand-forward-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.expandHeight {
    animation: expandHeight .4s ease-out both;
}

  @keyframes expandHeight {
      from {
        height: 0;
        opacity: 0;
        overflow: hidden;
        color: transparent;
      }
      to {
        height: 160px;
        opacity: 1;
        color: #000;
      }
    }