<section>
  <div>
    <h2>Quienes somos</h2>
    <p>
      Impulsamos la transformación digital de las pymes, diseñando soluciones
      personalizadas que perfeccionan la gestión de datos y procesos, para un
      progreso firme y duradero.
    </p>
    <!-- Aca van las imagenes  -->
    <div></div>
  </div>
  <!-- Objetivo -->
  <div>
    <p>
      En <strong>Digital Advisors</strong>, ayudamos a pequeñas y medianas
      empresas a aprovechar el poder de la digitalización. Nacimos con la misión
      de simplificar la transformación digital, ofreciendo soluciones
      personalizadas para optimizar procesos, analizar datos y mejorar la toma
      de decisiones. Creemos que la tecnología debe ser una aliada estratégica,
      permitiendo a los negocios crecer de manera eficiente y sostenible.
    </p>
    <p>Brindamos:</p>
    <ul>
      <li>
        Innovación → Buscamos siempre las mejores soluciones tecnológicas.
      </li>
      <li>
        Compromiso → Acompañamos a cada empresa en su transformación digital.
      </li>
      <li>Eficiencia → Optimizamos procesos para maximizar resultados.</li>
      <li>
        Confianza → Construimos relaciones basadas en transparencia y
        profesionalismo.
      </li>
    </ul>
  </div>
  <!-- Mision  -->
  <div>
    <img src="" alt="" />
    <div>
      <h3>Nuestra Mision</h3>
      <p>
        Impulsar la digitalización de las pymes, brindando herramientas
        innovadoras y asesoramiento estratégico para optimizar su operación,
        mejorar su competitividad y facilitar la toma de decisiones basada en
        datos.
      </p>
    </div>
  </div>
  <!-- Vision  -->
  <div>
    <div>
        <h3>Nuestra Vision</h3>
        <p>Ser el referente en digitalización para pymes en Argentina, contribuyendo a la modernización del ecosistema empresarial mediante soluciones accesibles, efectivas y adaptadas a cada necesidad.</p>
    </div>
    <img src="" alt="">
  </div>
</section>
