---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="container__about">
    <div class="container__about-presentacion">
      <h2>Quienes somos</h2>
      <p class="about-presentacion__text">
        Impulsamos la transformación digital de las pymes, diseñando soluciones
        personalizadas que perfeccionan la gestión de datos y procesos, para un
        progreso firme y duradero.
      </p>
      <img src="/images/oficina-completa.png" alt="Oficinas" />
    </div>
    <!-- Objetivo -->
    <div class="about__objetivo">
      <p>
        En <strong class="strongWord">Digital Advisors</strong>, ayudamos a
        pequeñas y medianas empresas a aprovechar el poder de la digitalización.
        Nacimos con la misión de simplificar la transformación digital,
        ofreciendo <em>soluciones personalizadas</em> para optimizar procesos, analizar
        datos y mejorar la toma de decisiones. Creemos que la tecnología debe ser
        una aliada estratégica, permitiendo a los negocios crecer de manera eficiente
        y sostenible.
      </p>
      <p>Brindamos:</p>
      <ul>
        <li>
          <strong class="strongWord">Innovación</strong> → Buscamos siempre las mejores
          soluciones tecnológicas.
        </li>
        <li>
          <strong class="strongWord">Compromiso</strong> → Acompañamos a cada empresa
          en su transformación digital.
        </li>
        <li>
          <strong class="strongWord">Eficiencia</strong> → Optimizamos procesos para
          maximizar resultados.
        </li>
        <li>
          <strong class="strongWord">Confianza</strong> → Construimos relaciones
          basadas en transparencia y profesionalismo.
        </li>
      </ul>
    </div>
    <!-- Mision  -->

    <div class="about__mision">
      <h3>Nuestra Mision</h3>
      <img src="/images/img-mision.png" alt="Mision" />
      <p class="about__mision-text">
        Impulsar la digitalización de las pymes, brindando herramientas
        innovadoras y asesoramiento estratégico para optimizar su operación,
        mejorar su competitividad y facilitar la toma de decisiones basada en
        datos.
      </p>
    </div>

    <!-- Vision  -->

    <div class="about__vision">
      <h3>Nuestra Vision</h3>
      <img src="/images/img-vision.png" alt="Vision" />
      <p class="about__vision-text">
        Ser el referente en digitalización para pymes en Argentina,
        contribuyendo a la modernización del ecosistema empresarial mediante
        soluciones accesibles, efectivas y adaptadas a cada necesidad.
      </p>
    </div>
  </section>
</Layout>
<style>
  /* --- ESTILOS BASE: MOBILE FIRST --- */

  .container__about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 40px;
    width: 400px;
    font-family: "Playfair Display";
  }

  h2,
  h3,
  .strongWord {
    color: #0a3d62;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .container__about-presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 360px;
  }

  .container__about-presentacion h2 {
    font-size: 25px;
    margin-bottom: 1rem;
  }

  .about-presentacion__text {
    width: 360px;
    text-align: center;
  }
  .container__about-presentacion img {
    width: 100%;
  height: 295px;
  object-fit: cover;
  object-position: center;
  }
  /* objetivo */
  .about__objetivo {
    font-size: 14px;
  }
  .about__objetivo p {
    line-height: 1.8;
  }
  .about__objetivo ul {
    line-height: 1.8;
  }
  /* mision y vision */
  .about__mision,
  .about__vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  img {
    width: 290px;
    height: auto;
  }

  .about__mision-text,
  .about__vision-text {
    width: 360px;
    text-align: center;
    font-size: 14px;
    line-height: 1.8;
  }

 
/* --- TABLET Y DESKTOP --- */
@media (min-width: 768px) {
  .container__about {
    width: 80%;
    gap: 4rem
  }

  p, li {
    font-size: 17px;
    
  }

  
  .container__about-presentacion {
    background-color: aqua;
  }
  .container__about-presentacion h2 {
    font-size: 30px;
  }

  .about-presentacion__text {
    width: 500px;
    text-align: center;
  }
  .container__about-presentacion img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }

  .about__mision,
  .about__vision {
    
  }
}

@media (min-width: 1024px) {
  .container__about {
    max-width: 1200px;
  }

  p, li {
    font-size: 20px;
  }

  .container__about-presentacion p{
    width: 80%;
  }
  .container__about-presentacion img {
    max-width: 100%;
  }

  .about__mision,
  .about__vision {
    display: flex;
    flex-direction: row;
  }
}
</style>
