---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="contactContainer">
    <h2 class="contact__title">Contáctanos</h2>
    <p class="contact__subtitle">
      Completa el siguiente formulario y te daremos respuesta en la brevedad.
    </p>
    <form action="/enviar-formulario" method="POST" class="formulario-contacto">
      <label for="empresa">Empresa:</label>
      <input type="text" id="empresa" name="empresa" required />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" name="telefono" required />

      <label for="ubicacion">Ubicación:</label>
      <input type="text" id="ubicacion" name="ubicacion" required />

      <label for="motivo">Motivo de contacto:</label>
      <textarea id="motivo" name="motivo" rows="4" required></textarea>

      <button type="submit">Hablemos</button>
    </form>
    <img class="contact__img" src="/images/contact.png" alt="Llamada" />
  </section>
</Layout>

<style>
  .contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px 70px;
    border-bottom: 1px solid #46444454;
  }

  .contact__title {
    color: #0a3d62;
    font-size: 25px;
  }

  .contact__subtitle {
    text-align: center;
    font-size: 18px;
  }
  .formulario-contacto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    width: 100%;
    margin-top: 30px;
  }

  .formulario-contacto input,
  .formulario-contacto textarea {
    padding: 8px;
    border: 1px solid #464444;
    border-radius: 4px;
  }

  textarea {
    resize: none;
  }

  .formulario-contacto button {
    background-color: #0a3d62c4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    min-height: 60px;
    align-self: center;
    margin-top: 40px;
  }

  .formulario-contacto button:hover {
    background-color: #0a3d62;
  }
  
  .contact__img{
    display: none;
  }
  
  
</style>
