---
import { Image } from "astro:assets";
import ChooseImg from "../assets/images/data-protection.webp";

const { title, description, reverse } = Astro.props;
const classMd = reverse ? "md:flex-row-reverse" : "";
---

<figure
  class=`mx-auto my-8 w-[90%] max-w-[330px] md:flex md:max-w-[70%] lg:max-w-[50%] md:max-h-[250px] ${classMd}`
>
  <div class="relative h-[130px] md:w-[50%] md:h-[250px]">
    <Image
      class="size-full object-cover brightness-50"
      src={ChooseImg}
      alt="Elección para elegirnos"
    />
    <div class="absolute inset-0 flex items-center justify-center">
      <h3 class="text-xl text-white font-semibold">{title}</h3>
    </div>
  </div>
  <figcaption
    class=`md:flex md:items-center p-5 md:w-[50%] text-center text-(--accent-color) bg-white rounded-b-2xl`
  >
    <p class="responsive-text text-[14px]">
      {description}
    </p>
  </figcaption>
</figure>
