
<div>
    <div>
        <img src="/images/logo.webp" alt="Logo">
        <div class="footer__links">
            <a href="/index">Inicio</a>
            <a href="/services">Servicios</a>
            <a href="/about">Quienes Somos</a>
            <a href="/contact">Contacto</a>
        </div>
        <div class="footer__socials">
            <a href="https://www.instagram.com/"><img src="/public/svg/Instagram.svg" alt="Instagram"></a>
            <a href="https://www.linkedin.com/"><img src="/public/svg/Linkedin.svg" alt="Linkedin"></a>
            <a href="https://www.facebook.com/"><img src="/public/svg/Twitter.svg" alt="Twitter"></a>
        </div>
        <div>
            <p>Copyright © 2025 Digital Advisors</p>
            <p>Godoy Cruz, Mendoza, Argentina.</p>
        </div>
    </div>
</div>