---
import { Image } from 'astro:assets'
import LogoImage from '../assets/images/logo.webp'
 ---

<nav class="flex justify-between items-center h-12 px-3 border-b-1 border-b-gray-300">
    <Image class="size-18" src={LogoImage} alt="Logo de Digital Advisors" />
    <!-- <Image src={MenuImage} alt="Logo de Digital Advisors" /> -->
    <svg width="40"  height="40"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
</nav>