---
const { title } = Astro.props;
---

<div
  class="flex flex-col items-center justify-center w-[45%] min-h-[100px] h-[18vh] gap-2 p-2 border border-[#0002] rounded-2xl"
>
  <slot name="icon-logo" />
  <h3 class="font-semibold text-(--primary-color)">{title}</h3>
</div>
