---
import Button from "../ui/Button.astro";
---

<div class="preFooterContainer bg-[url(src/assets/images/preFooter.webp)]">
  <h3 class="preFooter__titulo responsive-h2">Cont치ctanos</h3>
  <p class="preFooter__descripcion responsive-text">
    Obtenga m치s informaci칩n sobre nuestras servicios y soluciones
  </p>
  <Button text="Contactanos" />
</div>

<style>
  .preFooterContainer {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 240px;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .preFooterContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* cambia el 0.5 por m치s o menos opacidad */
    z-index: 1;
  }

  p,
  h3 {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .preFooter__descripcion {
    padding: 0 110px;
    text-align: center;
    margin: 10px 0px;
  }

  @media (min-width: 1024px) {
    .preFooterContainer {
      height: 300px;
    }
  }
</style>
