---
import Footer from "../components/footer/Footer.astro";
import Navigation from "../components/ui/Navigation.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | Digital Advisors</title>
    <link rel="shortcut icon" href="logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Navigation />
    <slot name="hero-image" />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
