---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import PreFooter from "../components/PreFooter.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Digital Advisors | Impulsando tu transformación</title>
  </head>
  <body>
    <header>
      
      <slot name="hero-image" />
    </header>
    <main>
      <slot />
    </main>
    <!-- <PreFooter />-->
    <Footer />
  </body>
</html>
<style>
  *{
    margin: 0;
    padding: 0;
  }
</style>
