---
import { Image } from "astro:assets";
import MainImage from "../../assets/images/hero-image-lg.webp";
const { title, description } = Astro.props;
---

<div
  class="relative flex items-center justify-center responsive-hero md:justify-start"
>
  <div
    class="px-5 text-white text-center z-10 md:ml-10 tracking-in-expand-forward-top"
  >
    <h1 class="responsive-h1 text-center md:text-start font-semibold">
      {title}
    </h1>
    <p class="my-4 max-w-[600px] md:text-start responsive-text">
      {description}
    </p>
    <slot />
  </div>
  <div class="size-full absolute inset-0 z-0">
    <Image
      class="size-full object-cover"
      src={MainImage}
      alt="Imagen que acompaña al texto principal"
    />
  </div>
</div>

<style>
  .responsive-hero {
    height: clamp(300px, 14.375vw + 254px, 530px);
  }

</style>
